* {
    color: white;
    font-family: sans-serif;
    transition: 0.2s ease-in-out;
    user-select: none;
}

.align {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: #561C24;
    margin: 0;
    padding: 0;
    width: 100vw;
    text-align: center;
    padding-top: 5vh;
}

.turn-kontener {
    width: 170px;
    height: 80px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
}

.turn-kontener h3 {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;
}

.turn-kontener .turn-box {
    border: 3px solid #000;
    font-size: 1.6rem;
    font-weight: 600;

}

.turn-kontener .turn-box:nth-child(even) {
    border-right: none;
}

.bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85px;
    height: 40px;
    background-color: #C7B7A3;
    z-index: -1;
}

.grid-utama {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 400px;
    height: 400px;
    margin: 40px auto;
    /* border: 2px solid #000; */
    gap: 7px;
}

.box {
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 700;
    border: 2px solid #000;

}

.box:hover {
    background-color: #C7B7A3;
}

#playAgain {
    background-color: #DBE7C9;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: 300;
    color: #000;
    display: none;
}

#playAgain:hover {
    padding: 10px 40px;
    background-color: #50623A;
    color: #fff;
    
}

#reset {
    font-size: 15px;
    font-weight: 700;
    color: #cb1e1e;
    margin: auto;
    cursor: pointer;
    display: none;
}

#reset:hover {
    color: #C7B7A3;
    
}

#ex, #ow {
    display: inline-block;
    
}

#ex {
    margin-right: 5px;
}

#ow {
    margin-left: 48px;
}

#exow {
    display: flex;
    justify-content: center;
    align-items: center;

}



